* {
    margin: 0;
    padding: 0;
}
a {
  font-family: "Avenir Next"
  font-weight: Extra Light;
  font-style: italic;
  color: #eff;
  text-decoration: none;
}


body{

}

nav{
  width: 960px;
  height: 10vh;
  margin: 0 auto;
  /* background-color: #000; */
}

nav ul {
  height: 100%;
  width: 100%;
  margin-top: 20px;;
  float: right;
  text-align: center;
  /* background-color: #555; */
}

nav li {
  text-align: center;
  list-style-type: none;
  float: left;
  margin-top: 20px;;
  margin: 0 auto;
  /* background-color: #888; */
}

.blank{
  float: left;
  width: 172px;
  height: 100%;
  /* background-color: #222; */
}

header{
  background-image: url("back_top.png");
  height: 100vh;
  background-size: cover;
}

h1{
  /* float: left; */
  color: #fff;
  font-size: 120px;
  text-align: center;
  font-family: "Avenir";
  font-weight: lighter;
  font-style: italic;
  line-height: 90vh;
}
